<h1>summary audio books</h1>
<h2>you can find best books here!</h2>

<% @reviews.each do |review| %>

    <div class = "review">

        <%= review %> 
        <!-- <%= review %> -> review eq=> exist/4/<% @reviews.each do |review| %> -->

    </div>

<% end %>